*{box-sizing: border-box;}

body{
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
    text-decoration: none;
    color: #333;
}

.frame{
    display: flex;
    gap: 40px;
}
.hexagon{
    width: 400px;
    height: 450px;
    position: relative;
    transition: .5s;
}
.shape{
    clip-path: polygon(50% 0, 100% 22%, 100% 78%, 50% 100%, 0 78%, 0 22%);
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
}

.shape img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.hexagon .caption{
    position: absolute;
    width: inherit;
    height: inherit;
    color: #fff;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
}
.hexagon:hover .caption{
    opacity: 1;
    transform: translateY(0);
    transition: .5s;
}
.hexagon .caption h2{
    font-size: 2em;
}
.hexagon:nth-child(1) .caption{
    background: linear-gradient(to top, crimson, transparent);
}
.hexagon:nth-child(2) .caption{
    background: linear-gradient(to top, royalblue, transparent);
}
.hexagon:nth-child(3) .caption{
    background: linear-gradient(to top, yellowgreen, transparent);
}
.hexagon:hover{
    transform: translateY(-60px);
    transition: .5s;
}

.hexagon::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #000;
    background: radial-gradient(rgba(0,0,0,.3), transparent, transparent);
    bottom: -70px;
    transition: .5s;
}
.hexagon:hover:before{
    opacity: .6;
    transform: scale(.8);
    bottom: -130px;
}