*{box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;margin: 0;padding: 0;}
a{text-decoration: none;color: #222;}
body{background-color: #eee;}

.container{
    header{
        background-color: #fff;
        box-shadow: 5px 0 15px rgba(0,0,0,.15);
        nav{
            width: 1280px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                height: 70px;
               &.logo{
                flex: .5;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 70px;
                        height: 70px;
                    }
                }
               } 
               &.gnb{
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
               }
               &.login{
                flex: .5;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    border: 1px solid rgba(0,0,0,.15);
                    background-color: aquamarine;
                    border-radius: 16px;
                    padding: 5px 1rem;
                }
               }
            }
        }
    }
}

section{
    display: flex;
    justify-content: center;
    .inner{
        border: 1px solid #000;
        width: 1280px;
        h1{}
        h2{}
        .items{
            border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            .item{
                border: 1px solid blue;
                flex: 1;
                .item-list{
                    background-color: rgb(131, 131, 247);
                    text-align: center;
                    color: #fff;
                    height: 150px;
                    .btns{
                        margin-top: 20px;
                        .btn{
                            background-color: #000;
                            color: #fff;
                            width: 70px;
                            display: inline-block;
                            margin: 3px;
                            padding: 5px;
                            border-radius: 16px;
                            &.download{
                                width: 200px;
                            }
                        }
                    }
                }
                .item-desc{
                    display: none;
                }
            }
        }
    }
}