*{box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;margin: 0;padding: 0;}
a{text-decoration: none;color: #222;}
body{background-color: #eee;}

.container{
    header{
        background-color: #fff;
        box-shadow: 5px 0 15px rgba(0,0,0,.15);
        nav{
            width: 1280px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                height: 70px;
               &.logo{
                flex: .5;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 70px;
                        height: 70px;
                    }
                }
               } 
               &.gnb{
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
               }
               &.login{
                flex: .5;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    border: 1px solid rgba(0,0,0,.15);
                    background-color: aquamarine;
                    border-radius: 16px;
                    padding: 5px 1rem;
                }
               }
            }
        }
    }
}

section{
    display: flex;
    justify-content: center;
    .inner{
        width: 1280px;
        h1{margin-bottom: 10px;}
        h2{margin-bottom: 10px;}
        .items{
            display: flex;
            justify-content: center;
            gap: 40px;
            .item{
                flex: 1;
                // 드롭다운 1번째
                // .item-desc{
                //  display: none;
                // }
                // &:hover{
                //     .item-desc{
                //         display: block;
                //     }
                // }
                // 드롭다운 2번째
                // .item-desc{
                //     height: 0;
                //     overflow: hidden;
                //     padding: 0;
                //     transition: .5s;
                // }
                // &:hover{
                //     .item-desc{
                //         height: 200px;
                //         padding: 15px 25px;
                //     }
                // }
                // 드롭다운 3번째
                // position: relative;
                // .item-desc{
                //     display: none;
                //     position: absolute;
                // }
                // &:hover{
                //     .item-desc{
                //         display: block;
                //     }
                // }
                .item-desc{
                    display: none;
                }
                &:nth-child(2){
                    .item-list{
                        background-color: rgb(69, 69, 248);
                    }
                    .item-desc{
                        border-color: rgb(69, 69, 248);
                    }
                }
                &:nth-child(3){
                    .item-list{
                        background-color: rgb(17, 17, 177);
                    }
                    .item-desc{
                        border-color: rgb(17, 17, 177);
                    }
                }
                .item-list{
                    background-color: rgb(131, 131, 247);
                    text-align: center;
                    color: #fff;
                    height: 150px;
                    padding: 20px;
                    .btns{
                        margin-top: 20px;
                        .btn{
                            background-color: #000;
                            color: #fff;
                            width: 70px;
                            display: inline-block;
                            margin: 3px;
                            padding: 5px;
                            border-radius: 16px;
                            &.download{
                                width: 200px;
                            }
                        }
                    }
                }
                .item-desc{
                    border: 3px solid rgb(131, 131, 247);
                    border-top: none;
                    padding: 15px 25px;
                    font-size: 14px;
                    p{
                        margin-bottom: 20px;
                        text-align: center;
                    }
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 5px;
                        background-color: #e3e3e3;
                        li{
                            &::before{
                                content: '-';
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}